* {
  font-family: "Montserrat", sans-serif;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.contenido {
  align-items: start;
  padding: 20px;
}

.nombre {
  font-size: 2.5em;
  color: #d3ac00;
  font-weight: 400;
}

.imgRedonda {
  border-radius: 100px;
}

.text-title {
  font-size: 1.5em;
  color: #d3ac00;
  font-weight: 400;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-footer {
  font-size: 1em;
  color: #d3ac00;
  font-weight: 300;
}

.rrss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin: 0;
}

.rrss li {
  padding: 0 20px 0 20px;
}

a:link {
  padding-left: 5px;
  color: black;
  text-decoration: none;
}

a:link:hover {
  color: white;
  text-decoration: none;
}
